:root{
    margin: 0;
    padding: 0;
    width: 0;
    height: 0;
    --ff-whereas:"DM Sans", sans-serif;
}
*{
    color:white;
    font-family: var(--ff-whereas);
}
body{
    background:hsl(243, 96%, 9%);
    display: flex;
    width: 98vw;
    box-sizing: border-box;
    
}
#weather-logo{
position:absolute;
left:5%;
}

#top-part{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#units-dropdown{
    
    width:10%;
    align-self: flex-end;
    background: hsl(243, 23%, 24%) ;
    position: absolute;
    left:85%;
    top:8%;
    padding-left: 1%;
    flex-direction: column;
    align-items: flex-start;
}
.btn-units-dropdown{
    background: transparent;
    border: transparent;
    font-size: 18px;
    width: 90%;
    height: 5vh;
     display: flex;
  justify-content: flex-start;
  align-items: center;
}
.btn-units-dropdown:hover{
background:  hsl(243, 23%, 30%);
}
#units-dropdown p{
    color: hsl(240, 6%, 70%);
    font-size: 15px;

}
#btn-units{
    position: absolute;
    right:5%;
        width:5.5vw;
         height: 4vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   border-radius: 10%;
    background:hsl(243, 23%, 24%) ;
}
#img-units{
    width: 0.9vw;
    height: auto;
}
#dropdown-img{
    width:0.8vw;
    height: auto;
}
h1{
    margin-top: 10vh;
    font-size: 50px;
}
#search-btn{
    background: hsl(233, 67%, 56%);
    width:4vw;
    height:3.5vh;
    margin-left: 1vw;
}
#search-input{
    width: 20vw;
    height: 3vh;
    border-radius: 10%;
    padding-left: 2.4vw;
    background: hsl(243, 23%, 24%) ;
}
#search-img{
    position: absolute;
    left: 36.5vw;
    top:25vh;
}
#search-holder{
    padding-bottom: 4vh;
}
#background-img{
    padding-right: 23.5vw;
}
#city-date-holder{
    position: absolute;
    top:43vh;
    left:18vw;
}
#city-date-holder p{
    color:hsl(240, 6%, 70%);
}
#weather-img{
    position: absolute;
    top:41vh;
    right: 50vw;
    width: 6vw;
    height: auto;
}
#degrees-img-holder h2{
    position: absolute;
    bottom: 37vh;
    left: 50vw;
    font-size: 100px;
}
.condition{
    background:hsl(243, 23%, 24%) ;
    width: 8.66vw;
    height: 10vh;
    border-radius: 5%;
      padding-left: 1vw;
   padding-bottom: 1vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
}
#conditions-holder{
    display: flex;
    margin-top: 3vh;
    gap: 1vw;

}
.condition h3{
    font-size: 30px;
}
h4{
    justify-self: start;
    margin-top: 4vh;
    margin-bottom: 2vh;
}
#daily-forecast{
display: flex;
gap: 1vw;
width: 100%;
}
.day-holder{
width: 9.6%;
background:hsl(243, 23%, 24%) ;
height: auto;
border-radius: 5%;
display: flex;
flex-direction: column;
justify-content: center;
box-sizing: border-box;

}
.day-holder img{
    width: 5vw;
    height: auto;
    align-self: center;
}
.daily-degrees{
    display: flex;
  justify-content: space-around;
  
  
}
#hourly-forecast{
    background: hsl(243, 23%, 24%) ;
    width:20vw;
    height: 76.5vh;
    position: absolute;
    top:32vh;
    left:60vw;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
}
#main-container{
display: flex;
flex-direction: row;
align-items: center;
width: 80%;
}
#left-part{
    width:100%;
    box-sizing: border-box;
}
#right-part{
    width: 100%;
}
.hourly-holder{
    background:hsl(243, 23%, 30%) ;
    width:90%;
    height: 6vh;
    border-radius: 5%;
    display: flex;
    align-items: center;
    
}
#main-hourly-holder{
    display: flex;
    flex-direction: column;
    gap:2vh;
    justify-content: center;
    align-items: center;
}
.hourly-holder img{
    width:18%;
    height: auto;
}
.f{
    display: flex;
    align-items: center;
}
.hourly-holder p{
    margin-right: 15px;
}
#hourly-forecast select {
    width: 30%;
    height: 30%;
    background: hsl(243, 23%, 30%) ;
}
#head4-select-holder{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
}
